<div id="<%= dom_id novel %>"> 

  
   <strong><%= novel.title %></strong>
  </p>
  <tr>
<td><%= novel.author %></td>



  </tr>
 



  <p>
    <%= novel.novel_body %>
  </p>

  <p>
    <strong>Point:</strong>
    <%= novel.point %>
  </p>

  <p>
    <strong>Novel tags:</strong>
    <%= novel.novel_tags %>
  </p>

</div>
